@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using ProductManagement.Infrastructure.Database.Identity

@inject IAuthService AuthService
@inject IUserService UserService
@inject ILogger<ConfirmEmail> Logger
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<section class="container-md py-3">

    <div class="d-flex gap-3 align-items-center mb-4">
        <PersonFillSvg Height="1.5rem" Width="1.5rem" />
        <h1 class="h2 mb-0">Confirm Email</h1>
    </div>
    
    <StatusMessage Status="@status" />
</section>


@code {
    private StatusDto? status;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var result = await AuthService.ConfirmEmailAsync(UserId, Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code)));
        if (result.IsSuccess)
        {
            status = new StatusDto { Message = "Thank you for confirming your email.", Level = MessageLevel.Success };
            Logger.LogWarning("User email confirmed.");
        }
        else
        {
            status = new StatusDto { Message = "Error confirming your email.", Level = MessageLevel.Error };
            Logger.LogWarning("{code}: {message}", result.Error.Code, result.Error.Message);
        }
    }
}
