@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using ProductManagement.Infrastructure.Database.Identity

@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>

<section class="container-md py-3">

    <div class="d-flex gap-3 align-items-center mb-4">
        <PersonFillSvg Height="1.5rem" Width="1.5rem" />
        <h1 class="h2 mb-0">Register Confirmation</h1>
    </div>
    
    <AuthStatusMessage Error="@error" />
    @if (error is null)
    {
        <p class="alert alert-dark" role="alert">Please check your email to confirm your account.</p>
    }

</section>

@code {
    private string? emailConfirmationLink;
    private AuthError? error;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var result = await UserService.ReturnByEmailAsync(Email);
        if (result.IsFailure)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            error = new AuthError { Message = result.Error.Message, Level = MessageLevel.Error };
        }
    }
}
