@inject ISenderService Sender

<h3 class="h3 mb-3 fw-normal">Set password</h3>
<div class="row mb-4">
    <div class="col-xl-6">
        <StatusMessage Status="@status" />
        <EditForm Model="Input" FormName="set-password" OnValidSubmit="SetPasswordAsync" method="post" data-loading-button>
            <DataAnnotationsValidator />
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.UpdatedPassword" id="Input.UpdatedPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter the new password" />
                <label for="Input.UpdatedPassword" class="form-label">New password</label>
                <ValidationMessage For="() => Input.UpdatedPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter the new password" />
                <label for="Input.ConfirmPassword" class="form-label">Confirm password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-dark w-100">Update password</button>
        </EditForm>
    </div>
</div>

@code {
    private StatusModel status = new StatusModel("Please set your password.", MessageLevel.Info);

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [Parameter, EditorRequired]
    public ApplicationUserDto User { get; set; } = default!;

    [SupplyParameterFromForm(FormName = "set-password")]
    private SetPasswordInputModel Input { get; set; } = new();

    private async Task SetPasswordAsync()
    {
        var command = new AddPasswordCommand(User.Id, Input.UpdatedPassword);
        var result = await Sender.SendAsync(command);
        if (result.IsSuccess)
        {
            status = new StatusModel("Your password has been set.", MessageLevel.Success);
        }
        else
        {
            status = new StatusModel(result.Error.Message, MessageLevel.Error);
        }
         
        //RedirectManager.RedirectToCurrentPageWithStatus(new StatusModel("Your password has been set.", MessageLevel.Success), HttpContext);
    }
}
