@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<Header />
<div class="container-fluid d-md-flex flex-md-grow-1">
    <div class="row flex-md-grow-1">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 @(currentPage is CurrentPage.Home ? "active" : "" )" aria-current="page" href="#">
                                @if (currentPage is CurrentPage.Home)
                                {
                                    <HouseFillSvg />
                                }
                                else
                                {
                                    <HouseSvg />
                                }
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 @(currentPage is CurrentPage.Products ? "active" : "" )" href="#">
                                @if (currentPage is CurrentPage.Products)
                                {
                                    <CartFillSvg />
                                }
                                else
                                {
                                    <CartSvg />
                                }
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 @(currentPage is CurrentPage.Users ? "active" : "" )" href="#">
                                @if (currentPage is CurrentPage.Users)
                                {
                                    <PeopleFillSvg />
                                }
                                else
                                {
                                    <PeopleSvg />
                                }
                                Users
                            </a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="#">
                                <DoorClosedSvg />
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            
            @Body

        </main>
    </div>
</div>
<script src="js/theme.js"></script>

@code {
    private enum CurrentPage
    {
        Home,
        Products,
        Users,
    }

    private CurrentPage currentPage;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        currentPage = GetCurrentPage(NavigationManager.Uri.ToString());
    }

    private CurrentPage GetCurrentPage(string uri)
    {
        return uri.Split("\\").LastOrDefault()?.ToLower() switch
        {
            "products" => CurrentPage.Products,
            "users" => CurrentPage.Users,
            _ => CurrentPage.Home,
        };
    }

}