@page "/products"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Products</PageTitle>

<div class="pt-3 pb-2 mb-3">

    <h1>Products Page</h1>

    <p>This is the products page.</p>

</div>